<a href="https://colab.research.google.com/github/lleiva25/Deep-Learning-Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# #Install modules fir clearing Jupyter GPU data
# !pip install numba
# !apt-get install nvidia-cuda-toolkit
# !export NUMBA_CUDA_DRIVER=/usr/local/cuda/lib64/libcudart.so

# #Restart the Jupyter Notebook
# !jupyter notebook stop
# !jupyter notebook

# #Import dependencies
# from numba import cuda

# #Clear GPU data
# device = cuda.get_current_device()
# device.reset()

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers import Dropout
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

<h1>Optimizing Method [71% to 77%] </h1>

In [ ]:
#Drop non-essential columns
#increased accuracy by 1%
app_df = application_df.drop(columns=['EIN',
                                      #'NAME',
                                     # 'AFFILIATION',#76%
                                      #'USE_CASE',
                                      #'ORGANIZATION',
                                      #'STATUS',
                                      #'INCOME_AMT',
                                      'SPECIAL_CONSIDERATIONS',
                                      'ASK_AMT'
                                      ])

app_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,1

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_ntype = app_df['APPLICATION_TYPE'].value_counts()
app_ntype

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutapp_ntypeoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_ntype[app_ntype < 700].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_vcount =  app_df['CLASSIFICATION'].value_counts()
classification_vcount

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_vcount[classification_vcount < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
income_vcount =  app_df['INCOME_AMT'].value_counts()

# # Choose a cutoff value and create a list of classifications to be replaced
# # use the variable name `ask_amt_to_replace`
income_to_replace = list(income_vcount[income_vcount < 200].index)

# # Replace in dataframe
for income in income_to_replace:
     app_df['INCOME_AMT'] = app_df['INCOME_AMT'].replace(income,"Other")

# # Check to make sure binning was successful
app_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
Other              324
10M-50M            240
Name: INCOME_AMT, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
name_vcount =  app_df['NAME'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `ask_amt_to_replace`
name_to_replace = list(name_vcount[name_vcount < 50].index)

# Replace in dataframe
for name in name_to_replace:
    app_df['NAME'] = app_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
app_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(app_df,dtype=float)

app_dummies.head()

,STATUS,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,NAME_CIVITAN INTERNATIONAL,...,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop(['IS_SUCCESSFUL'],axis=1).values
y = app_dummies['IS_SUCCESSFUL'].values

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.25,
                                                    random_state=50
                                                    )

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 360
hidden_nodes_layer2 = 180
hidden_nodes_layer3 = 90
hidden_nodes_layer4 = 70
hidden_nodes_layer5 = 60
hidden_nodes_layer6 = 30
hidden_nodes_layer7 = 15
outer_nodes_layer = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "leaky_relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation = "sigmoid")) #76%

# Fourth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation = "sigmoid")) #76%

# Fifth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation = "sigmoid"))

# Sixth hidden layer
##nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, activation = "sigmoid"))

# Seventh hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer7, activation = "sigmoid"))

#Add Dropout Layer to prevent overfitting
#None of the layers were overfitted since Parameters = 0
#nn.add(Dropout(0.25))

# Output layer #
nn.add(tf.keras.layers.Dense(units=outer_nodes_layer, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 360)               33120

 dense_5 (Dense)             (None, 180)               64980

 dense_6 (Dense)             (None, 90)                16290

 dense_7 (Dense)             (None, 1)                 91

=================================================================
Total params: 114481 (447.19 KB)
Trainable params: 114481 (447.19 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
#Compile the model
nn.compile(#loss = 'mean_squared_error', #73
           loss = 'binary_crossentropy', #73
           #loss='sparse_categorical_crossentropy', #47%
          # loss='categorical_crossentropy', #46%
           #loss = 'binary_crossentropy', #73%
           #optimizer = 'adam', #73
           #optimizer ='rmsprop', #73
           #optimizer='sgd', #46
           #optimizer='adagrad', #73
           #optimizer='adadelta', #73
           optimizer='adamax', #73
           #optimizer='nadam', #72
           metrics=['accuracy'])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,validation_split=0.15,batch_size=10)

Epoch 1/50
2187/2187 [==============================] - 8s 3ms/step - loss: 0.4869 - accuracy: 0.7580 - val_loss: 0.4676 - val_accuracy: 0.7746
Epoch 2/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4830 - accuracy: 0.7576 - val_loss: 0.4644 - val_accuracy: 0.7792
Epoch 3/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4811 - accuracy: 0.7600 - val_loss: 0.4748 - val_accuracy: 0.7805
Epoch 4/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4806 - accuracy: 0.7592 - val_loss: 0.4614 - val_accuracy: 0.7810
Epoch 5/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4785 - accuracy: 0.7614 - val_loss: 0.4596 - val_accuracy: 0.7813
Epoch 6/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4781 - accuracy: 0.7631 - val_loss: 0.4599 - val_accuracy: 0.7782
Epoch 7/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4770 - accuracy: 0.7632 - val_loss: 0.4605 - val_accuracy: 0.7810
Epoch 8/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4764 - accuracy: 0.7618 - val_loss: 0.4604 - val_accuracy: 0.7797
Epoch 9/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4758 - accuracy: 0.7627 - val_loss: 0.4692 - val_accuracy: 0.7740
Epoch 10/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4746 - accuracy: 0.7636 - val_loss: 0.4664 - val_accuracy: 0.7756
Epoch 11/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4747 - accuracy: 0.7638 - val_loss: 0.4642 - val_accuracy: 0.7803
Epoch 12/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4736 - accuracy: 0.7625 - val_loss: 0.4672 - val_accuracy: 0.7746
Epoch 13/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4734 - accuracy: 0.7647 - val_loss: 0.4596 - val_accuracy: 0.7790
Epoch 14/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4721 - accuracy: 0.7652 - val_loss: 0.4679 - val_accuracy: 0.7751
Epoch 15/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4721 - accuracy: 0.7652 - val_loss: 0.4629 - val_accuracy: 0.7800
Epoch 16/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4713 - accuracy: 0.7666 - val_loss: 0.4635 - val_accuracy: 0.7779
Epoch 17/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4713 - accuracy: 0.7650 - val_loss: 0.4612 - val_accuracy: 0.7808
Epoch 18/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4708 - accuracy: 0.7660 - val_loss: 0.4730 - val_accuracy: 0.7774
Epoch 19/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4705 - accuracy: 0.7667 - val_loss: 0.4630 - val_accuracy: 0.7808
Epoch 20/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4700 - accuracy: 0.7664 - val_loss: 0.4636 - val_accuracy: 0.7795
Epoch 21/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4701 - accuracy: 0.7668 - val_loss: 0.4665 - val_accuracy: 0.7769
Epoch 22/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4694 - accuracy: 0.7669 - val_loss: 0.4659 - val_accuracy: 0.7784
Epoch 23/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4688 - accuracy: 0.7682 - val_loss: 0.4639 - val_accuracy: 0.7782
Epoch 24/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4692 - accuracy: 0.7668 - val_loss: 0.4634 - val_accuracy: 0.7787
Epoch 25/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4683 - accuracy: 0.7669 - val_loss: 0.4664 - val_accuracy: 0.7797
Epoch 26/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4682 - accuracy: 0.7684 - val_loss: 0.4675 - val_accuracy: 0.7753
Epoch 27/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4680 - accuracy: 0.7685 - val_loss: 0.4627 - val_accuracy: 0.7828
Epoch 28/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4675 - accuracy: 0.7676 - val_loss: 0.4637 - val_accuracy: 0.7797
Epoch 29/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4669 - accuracy: 0.7668 - val_loss: 0.4685 - val_accuracy: 0.7795
Epoch 30/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4671 - accuracy: 0.7674 - val_loss: 0.4640 - val_accuracy: 0.7805
Epoch 31/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4666 - accuracy: 0.7675 - val_loss: 0.4758 - val_accuracy: 0.7694
Epoch 32/50
2187/2187 [==============================] - 8s 4ms/step - loss: 0.4666 - accuracy: 0.7679 - val_loss: 0.4669 - val_accuracy: 0.7790
Epoch 33/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4661 - accuracy: 0.7689 - val_loss: 0.4645 - val_accuracy: 0.7779
Epoch 34/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4663 - accuracy: 0.7680 - val_loss: 0.4668 - val_accuracy: 0.7779
Epoch 35/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4654 - accuracy: 0.7691 - val_loss: 0.4675 - val_accuracy: 0.7779
Epoch 36/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4657 - accuracy: 0.7689 - val_loss: 0.4667 - val_accuracy: 0.7792
Epoch 37/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4652 - accuracy: 0.7686 - val_loss: 0.4629 - val_accuracy: 0.7795
Epoch 38/50
2187/2187 [==============================] - 8s 3ms/step - loss: 0.4648 - accuracy: 0.7687 - val_loss: 0.4669 - val_accuracy: 0.7769
Epoch 39/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4645 - accuracy: 0.7687 - val_loss: 0.4694 - val_accuracy: 0.7795
Epoch 40/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4648 - accuracy: 0.7683 - val_loss: 0.4676 - val_accuracy: 0.7779
Epoch 41/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4644 - accuracy: 0.7699 - val_loss: 0.4719 - val_accuracy: 0.7756
Epoch 42/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4648 - accuracy: 0.7682 - val_loss: 0.4726 - val_accuracy: 0.7784
Epoch 43/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4639 - accuracy: 0.7699 - val_loss: 0.4674 - val_accuracy: 0.7769
Epoch 44/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4637 - accuracy: 0.7701 - val_loss: 0.4693 - val_accuracy: 0.7764
Epoch 45/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4636 - accuracy: 0.7698 - val_loss: 0.4714 - val_accuracy: 0.7787
Epoch 46/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4635 - accuracy: 0.7692 - val_loss: 0.4691 - val_accuracy: 0.7774
Epoch 47/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4635 - accuracy: 0.7695 - val_loss: 0.4676 - val_accuracy: 0.7774
Epoch 48/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4635 - accuracy: 0.7696 - val_loss: 0.4669 - val_accuracy: 0.7779
Epoch 49/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4630 - accuracy: 0.7701 - val_loss: 0.4730 - val_accuracy: 0.7751
Epoch 50/50
2187/2187 [==============================] - 7s 3ms/step - loss: 0.4629 - accuracy: 0.7706 - val_loss: 0.4682 - val_accuracy: 0.7779

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4730 - accuracy: 0.7736 - 435ms/epoch - 2ms/step
Loss: 0.4730331301689148, Accuracy: 0.7736443281173706

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimalized.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(